body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  margin-bottom: 15px;
}

.modal-dialog {
    width:1100px;
}
@media (min-width: 576px) {
    .modal-dialog {
        position: relative;
        width: 1000px;
        margin: 30px auto;
        max-width:1200px;
    }
}
